.list {
    font-color: #666;
}
.list ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    overflow-y: scroll;
    max-height: 60vh;
    padding-right: 10px;
}

.list ul li p {
    white-space: normal;
        word-break: break-all;
}

.list ul li {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    display: block;
    clear: both;
    margin-left: 0;
    padding-left: 0;
}

.list ul li:first-of-type {
    border-top: none;
}

.list img {
    max-width: 100px;
}
.list .locate {
    background-color: orange;
    color: black;
    border: 1px solid orange;
    font-size: 18px;
    margin-bottom: 5px;
}

/*
.controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
*/

.controls i {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: #555;
    display: block;
}
 .controls a {
     text-decoration: none;
     color: #666;
 }

 .controls a:hover {
     text-decoration: none;
 }

 .controls.active {
    background-color: #faf0ca; 
 }

 .controls a:focus {
     outline: none;
 }

.controls .col-3 {
    background-color: #eee;
    border-bottom: 8px solid #eee;
    transition: 0.3s all;
}
/*
.controls .col-3:hover,
.controls .col-3.active {
    background-color: #faf0ca; 
    border-bottom: 10px solid #f26c15;
}
*/
.marker {
    background-image: url('../img/marker.png');
    background-size: cover;
    width: 33px;
    height: 60px;
    cursor: pointer;
}
